#contact {
    background: url('bb.png'), #151729;
}

#membre {
    background: url('network-1246209_1920.jpg'), #151729;
    background-repeat: unset;
}

#inscription {
    background: url('paper-2199502_1920.jpg'), #151729;
}

#allmembre2 {
    background: url('boss.jpg'), #151729;
}

#suppression {
    background: url('boss.jpg'), #151729;
}

#modifier {
    background: url('archive-1850170_1920.jpg'), #151729;
}

#accueil {
    background: url('ball-63527_1920.jpg'), #151729;
}